
<div class="contain">
  <div class="row" >
    <div class="col-md-4 col-sm-6 mb-4 "  *ngFor="let imageDetail of imageDetails">

        <mat-card style="height: 100%;width: 100%; ">
          <mat-card-content style="height: 100%;width: 100%; ">
            <div class="con">


            <div class="middle">
              <div class="text">
                <p>{{imageDetail.imagetag}} </p>
                  <!-- <i class="fas fa-heart"></i> -->
                  <span class="material-icons " (click)="onlike()" >
                    favorite_border
                    </span>
                  <!-- <div [hidden]="like>0 ?'false':'true'"  > -->
                    <span class="material-icons red600"  >
                      favorite
                      </span>
                      {{like}}
                  <!-- </div> -->





               </div>
            </div>
            <img [src]="imageDetail.imageUrl" [alt]="imageDetail.imagetag" class="image"
            style="height: 100%;width: 100%; "  [routerLink]="['/image',imageDetail.id]">
          </div>
          </mat-card-content>
        </mat-card>



    </div>
  </div>
</div>

<!-- <div class="container">
  <mat-grid-list cols="3" rowHeight="100px" rowWidth="100px" >
    <mat-grid-tile rowspan='4'
     *ngFor="let imageDetail of imageDetails">


        <img [src]="imageDetail.imageUrl" style="height: 100%;width: 100%; ">



    </mat-grid-tile>

  </mat-grid-list>
</div> -->

<!-- <div class="row">
  <mdb-image-modal *ngFor="let imageDetail of imageDetails" type="margin"></mdb-image-modal>
</div> -->
