<div class="container">


<div class="body">


<h1>#IndiaFightsCorona COVID-19</h1>

<h3>Government of India is taking all necessary steps to ensure that we are prepared well to face the challenge and threat posed by the growing pandemic of COVID-19 the Corona Virus.
 With active support of the people of India, we have been able to contain the spread of the Virus in our country.
.

</h3>




<div class="row">
  <div class="col-xs-6 col-md-4">
    <mat-card id="card1" (click)="appointment()">
      <mat-card-content>
        <h1> Doctor Appointment</h1>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-xs-6 col-md-4 " >
    <mat-card  id="card2">
      <mat-card-content >
        <h1> Report Symptons</h1>

      </mat-card-content>
    </mat-card>
  </div>
  <div class=" col-md-4">
    <mat-card id="card3">
      <mat-card-content >
       <h1> Service Transport pass</h1>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>
</div>
